  
  table.FixedCells {
  table-layout: fixed;
  border-collapse:collapse;
  width:480px;
  height:480px;
  }
table.FixedCells td{
overflow:hidden;

}	

.boarderBottom{
  border-bottom: 1px solid black
}
.boarderTop{
  border-top: : 1px solid black;
}
.boarderRight{
  border-right: : 1px solid black;
}
.boarderLeft{
  border-left: : 1px solid black;
}
.boarderTopBottom{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.boarderTopleft{
  border-left: : 1px solid black;
  border-top: 1px solid black; 
}
.boarderTopRight{
  border-right: : 1px solid black;
  border-top: 1px solid black;
}
.boarderLeftBottom{
  border-bottom: 1px solid black
  border-left: : 1px solid black;
}
.boarderLeftRight{
  border-bottom: 1px solid black
  border-left: : 1px solid black;
}
.boarderRightBottom{
  border-bottom: 1px solid black
  border-right: : 1px solid black;
}



 table,th,td {
  border: 2px solid black;
  }
  td:hover{
	  background-color:#9cb0b1
  }
  td{
	  height:50px;
	  width:50px;
  }
  img{
	  opacity:0.5;
  }
  .GameOver{
	  text-align:center;
	  font-size:50px;
	  color:red;
  }