


  table.FixedCells {
  table-layout: fixed;
  border-collapse:collapse;
  width:480px;
  height:480px;
  }
table.FixedCells td{
overflow:hidden;
border: 0;

}	
p.white{
  color: white;
}

td.borderBottom {
  border-bottom: 1px solid #000000;

}
.borderTop{
  
  border-right: 1px solid #000000;
}
.borderRight{
  border-right: : 1px solid #000000;
}
.borderLeft{
  border-left: : 1px solid #000000;
}
.borderTopBottom{
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}
.borderTopleft{
  border-left: : 1px solid #000000;
  border-top: 1px solid #000000; 
}
.borderTopRight{
  border-right: : 1px solid #000000;
  border-top: 1px solid #000000;
}
.borderLeftBottom{
  border-bottom: 1px solid #000000
  border-left: : 1px solid #000000;
}
.borderLeftRight{
  border-bottom: 1px solid black
  border-left: : 1px solid black;
}
.borderRightBottom{
  border-bottom: 1px solid black
  border-right: : 1px solid black;
}



 table,th,td {
  border: 2px solid black;
  }
  td:hover{
	  background-color:#9cb0b1
  }
  td{
	  height:50px;
	  width:50px;
  }
  img{
	  opacity:0.0;
  }
  .GameOver{
	  text-align:center;
	  font-size:50px;
	  color:red;
  }

